html,body{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

:root{
  --roboto:'Roboto',cursive;

  --primary-color:#4458dc;
  --primary-color2:#854fee;
  --primary-color3:#05668d;
  --title-color:#141313;
  --text-color:#777777;
  --border-color:#201f1f17;
  /* --gradient-color:linear-gradient(90deg,#4458dc 0%,#854fee 100%); */
  --gradient-color:linear-gradient(90deg,#e63946 0%,#1d3557 100%);
  --gradient-color2:linear-gradient(90deg,#028090 0%,#02c39a 100%);
  --gradient-color3:linear-gradient(90deg,#293241 0%,#a8dadc 100%);

  --shadow-color:0px 10px 30px #EDF1EF;
  --box-shadow:0px 10px 30px rgb(198, 198, 199);
}
